@import "styles/variables";
@import "styles/mixins";

.add-column {
  @include remove-btn;
  flex-shrink: 0;
  margin-left: 10px;
  width: 280px;
  padding: 10px 10px;
  height: 100%;
  font-size: 20px;
  border: none;
  outline: 0;
  color: gray;
  font-weight: 600;
  display: flex;
  align-items: center;
  background-color: rgb(245, 245, 245);

  .plus-icon {
    @include icon(20px, 0.9);
    margin: 10px 15px 10px 10px;
  }
}

.add-column:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.board {
  flex-grow: 1;
  background-color: $board-bg-color;
  padding: 60px;
  overflow-x: auto;
  width: auto;
  height: 100%;
}

.column-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.board-title {
  font-size: 25px;
  font-weight: 600;
  margin-top: 30px;
}