@import "src/styles/variables";
@import "src/styles/mixins";

.column-board {
  flex-shrink: 0;
  padding: 10px;
  width: 300px;
  height: 100%;
  background-color: $light-blue;
  margin: 0 20px 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 8px;
  box-shadow: $box-shadow;

  .column-name {
    font-size: 25px;
    font-weight: 600;
    color: $column-title-color;
    min-height: 55px;
    padding: 10px 35px 0 10px;
  }

  .remove-btn.col {
    @include btn;
    border: none;
    position: absolute;
    top: 20px;
    right: 10px;
    padding: 3px 6px;
  }

  .remove-btn.col:hover {
    transform: scale(1.25);
    .trash-icon {
      opacity: 0.9;
    }
  }
}

.create-note {
  @include btn;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  outline: 0;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;

  .plus-icon {
    @include icon(18px, 1);
    margin-right: 10px;
  }
}

.create-note:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.column-form {
  padding: 10px 10px 30px;
  width: 300px;
  height: 100%;
  background-color: $light-blue;
  margin: 0 20px 20px;
  border-radius: 8px;
  flex-shrink: 0;
}

.trash-icon {
  @include icon(16px, 0.4);
}
