$header-bg-color: #EFA00B;
$note-bg-color: #ffffff;
$font-color: #000;
$column-title-color: #D65108;
$light-blue: #e5eff5;
$blue: #33658a;
$blue-dark: #2F4858;
$orange: #F6AE2D;
$background: linear-gradient(to bottom, rgba(239, 160, 11, 0.9) 0%, rgba(51, 101, 138, 1) 100%);

$border-thin: 1px solid rgba(0, 0, 0, 0.12);
$box-shadow: 2px 2px 8px rgba(9, 30, 66, 0.25);
