.container {
    width: 100%;
}

.content-wrapper {
    display: flex;
    height: calc(100% - 60px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    min-height: 400px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form label {
    background-color: white;
    padding: 0 10px;
}