@import "../../../style/variables.scss";
@import "../../../style/mixins.scss";

.note {
  padding: 10px 15px;
  background-color: $note-bg-color;
  border-radius: 5px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  font-size: 14px;

  button {
    @include remove-btn;
    border: $border-thin;
    padding: 0 5px;
    height: 30px;
    width: 100%;
  }

  button:hover {
    .icon {
      opacity: 1;
    }
  }

  .remove-btn {
    margin-bottom: 10px;
    position: relative;
    width: 30px;

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.buttons {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.icon {
  @include icon(16px, 0.5);
}

.liked-icon {
  opacity: 1;
}

.likes-amount {
  padding: 0 10px 0 5px;
  font-size: 15px;
}
