@import "../../../style/variables.scss";
@import "../../../style/mixins.scss";

.column-board {
  flex-shrink: 0;
  padding: 10px;
  width: 280px;
  height: 100%;
  background-color: $column-bg-color;
  margin: 0 20px 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(9, 30, 66, 0.25);

  .column-name {
    font-size: 25px;
    font-weight: 600;
    color: $column-title-color;
    margin-bottom: 10px;
  }

  .remove-btn.col {
    @include remove-btn;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 3px 6px;
  }

  .remove-btn.col:hover {
    transform: scale(1.25);
    .trash-icon {
      opacity: 0.9;
    }
  }
}

.create-note {
  @include remove-btn;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  outline: 0;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;

  .plus-icon {
    @include icon(14px, 1);
    margin-right: 10px;
  }
}

.create-note:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.column-form {
  padding: 10px 10px 30px;
  width: 280px;
  height: 100%;
  background-color: $column-bg-color;
  margin: 0 20px 20px;
  border-radius: 8px;
  flex-shrink: 0;
}

.trash-icon {
  @include icon(16px, 0.4);
}
