$sidebar-bg-color:  rgb(250, 228, 195);;
$board-bg-color: white;
$note-bg-color: white;
$column-bg-color: #e5eff5;
$font-color: black;
$column-title-color: rgb(228, 160, 59);
$border-thin: 1px solid rgba(0, 0, 0, 0.12);
